h2, h3 {
	color: orange;
}
.table td, .table th {
	text-align: center;  
}

.table-colnm{
	background: rgba(51,51,51,0.7) !important;
}

#home,#menu1 > .table td, .table th{
	color: white;
}

#home,#menu1 > table {
	border-color: white;
}

#home > .table-hover tr:hover, #menu1 > .table-hover tr:hover {
  background-color: rgba(255,255,255,0.25);
}

.free:hover{
	background-color: rgba(0,128,0,0.7) !important;
	cursor: pointer;
}

.booked:hover{
	cursor: not-allowed !important;
	background-color: rgba(255,51,51,0.7) !important;
}

.booked{
	background-color: rgba(255,51,51,0.7);
}

.song_item:hover{
	background-color: rgba(0,128,128,0.4);
}

.song_item-active{
	background-color: rgba(0,128,128,1.0);
}

.booking-wrapper {
  margin: auto;
  width: 100%; 
  background: rgba(0,0,0,0.6) !important;
  padding: 20px;
  height: 100%;
  margin-bottom: 15px;      
}

.container-full {
  margin: 0 auto;
  width: 85%;
  min-width: 1024px;
}

.slot_col{
	width:25%;
}

.displayTableFrame {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: -1;
    background : #333;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.navbar-inverse {
    z-index: 1000;
    min-height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border:none;
    padding-right:10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1a1a1a;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #f4ad42;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}	
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}	

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.glyphicon {
	padding: 2px;
}

.top-dropdown > li > a:hover {
    background: #ff8533 !important;
}

.top-dropdown {
    background: #333;
}

.top-dropdown > li > a {
    text-align: right !important;
}

/********** Song Booking Modal ***********/
    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 500ms ease-out;
	    -moz-transition: all 500ms ease-out;
	    -o-transition: all 500ms ease-out;
	    transition: all 500ms ease-out;
	    width: 200px;
	    box-shadow: none;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 0px;
        position: relative;
        left: -30px;
        color: #888;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 90%!important;
       /* -webkit-transition: all 500ms ease-out 0s;
	    -moz-transition: all 500ms ease-out 1s;
	    -o-transition: all 500ms ease-out 1s;
	    transition: all 500ms ease-out 1s;*/    
    }   
